.App {
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
}

section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  section {
    padding: 60px 20px;
  }
}

